/*###################################################################
##                                                                 ##
## Folha de estilos para a tela inicial do sistema SIOP            ##
## @Autor: Narmer Abouhassan                                       ##
## @Data: 17/01/2011                                               ##
##                                                                 ##
###################################################################*/

/*###################################################################
##                                                                 ##
## #siop_dashboard - Formata��o do breadcrumber da estrutura       ##
##                                                                 ##
###################################################################*/

#siop_dashboard{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 3px 3px 3px;
	clear: both;
	margin-bottom: 10px;
}
	/*###################################################################
	##                                                                 ##
	## #siop_dashboard a - Formata��o dos links do breadcrumber da     ##
	## estrutura                                                       ##
	##                                                                 ##
	###################################################################*/

	#siop_dashboard a{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding: 3px 3px 3px 3px;
		color: #000000;
	}

/*###################################################################
##                                                                 ##
## #siop_linha_01 - Formata��o da primeira linha da estrutura      ##
## (Boas vindas ao usu�rio)                                        ##
##                                                                 ##
###################################################################*/

.siop_linha_01{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 3px 3px 3px;
	clear: both;
	margin-bottom: 10px;
	border-top: 1px solid #4A83AB;
	border-bottom: 1px solid #4A83AB;
	background-color: #F4FFFF;
	margin-top: 40px;
}

/*###################################################################
##                                                                 ##
## #siop_linha_02 - Formatação da segunda linha da estrutura       ##
## (área de suporte, notícias e relatórios - Conteúdo da tela)     ##
##                                                                 ##
###################################################################*/

.siop_linha_02{
	clear: both;
    margin-bottom: 10px;
    padding: 3px;
    display: table;
    height: 550px;
}

/*###################################################################
##                                                                 ##
## #siop_coluna_01 - Formatação da primeira coluna da linha_02     ##
## (área de suporte)                                               ##
##                                                                 ##
###################################################################*/

.siop_coluna_01{
	width: 490px;
	float: left;
}

/*###################################################################
##                                                                 ##
## #siop_coluna_02 - Formatação da segunda coluna da linha_02      ##
## (área de notícias e Relatórios)                                 ##
##                                                                 ##
###################################################################*/

.siop_coluna_02{
	background-color: #EDEDED;
    float: right;
    height: 653px;
    width: 504px;
    margin-top: 3px;
}

/*###################################################################
##                                                                 ##
## #siop_area_suporte - Formatação da estrutura da área de suporte ##
##                                                                 ##
###################################################################*/

.siop_area_suporte{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 3px 3px 3px;	
	clear: both;
}

/*###################################################################
##                                                                 ##
## #siop_area_noticias - Formatação da estrutura da área de        ##
## notícias                                                        ##
##                                                                 ##
###################################################################*/

.siop_area_noticias{
/* 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 3px 3px 3px;	
	clear: both;
 */	margin-left: -1px;
}

/*###################################################################
##                                                                 ##
## #siop_area_relatorios - Formatação da estrutura da área de      ##
## Relatórios                                                      ##
##                                                                 ##
###################################################################*/

.siop_area_relatorios{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3px 3px 3px 3px;	
	clear: both;
}

/*###################################################################
##                                                                 ##
## #siop_titulo_painel - Formatação do título das áreas de         ##
## conteúdo                                                        ##
##                                                                 ##
###################################################################*/

.siop_titulo_painel{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
	line-height: 30px;
	color: #FFFFFF;
}

/*###################################################################
##                                                                 ##
## #siop_titulo_01, #siop_titulo_02, #siop_titulo_03 - Formatação  ##
## dos títulos das áreas de conteúdo (Suporte, Notícias e          ##
## Relatórios)                                                     ##
##                                                                 ##
###################################################################*/

#siop_titulo_01, #siop_titulo_03{
	width: 479px;
	height: 30px;
	/* background-image: url(../../_img/TelaInicial/modulo_suporte_titulo_painel.png); */
	background-position: center;
	background-color : #1F74B9;
	background-repeat: repeat-x;
	clear: both;
}

#siop_titulo_02{
	width: 504px;
	margin-left:1px;
	height: 30px;
	/* background-image: url(../../_img/TelaInicial/modulo_suporte_titulo_painel.png); */
	background-position: center;
	background-color : #1F74B9;
	background-repeat: repeat-x;
	clear: both;
	
}

#siop_pesquisa_legis{
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 40px;
	clear: both;
	border-bottom: 1px solid #D2F7F9;
	margin-bottom: 20px;
}

.login_logo_legis{
	padding-top: 10px;
}

.login_input_pesquisa_legis{
	border: 1px solid #004686;
	background-color: #FFF;
	background-position: left center;
	background-repeat: no-repeat;
	height: 22px;
	width: 300px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.login_button_pesquisa_legis{
	border: none;
	background-image: url(../../_img/TelaInicial/siop_botao_fundo_01.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #FFF;
	width: 100px;
	height: 30px;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}

#siop_box_suporte_linha_01, #siop_box_suporte_linha_03, #siop_box_suporte_linha_05{
	clear: both;
	padding-bottom: 10px;
	height: 54px
}

#siop_box_suporte_linha_02, #siop_box_suporte_linha_04, #siop_box_suporte_linha_06{
	clear: both;
	padding-bottom: 10px;
	height: 54px;
	/* background-color: #F4FFFF; */
}

#siop_box_suporte_linha_icone_01, #siop_box_suporte_linha_icone_02, #siop_box_suporte_linha_icone_03, #siop_box_suporte_linha_icone_04, #siop_box_suporte_linha_icone_05, #siop_box_suporte_linha_icone_06, #siop_box_suporte_linha_icone_07, #siop_box_suporte_linha_icone_08 {
	float: left;
}

#siop_box_suporte_linha_titulo_01 a, #siop_box_suporte_linha_titulo_02 a, 
#siop_box_suporte_linha_titulo_03 a, #siop_box_suporte_linha_titulo_04 a, 
#siop_box_suporte_linha_titulo_05 a, #siop_box_suporte_linha_titulo_06 a, 
#siop_box_suporte_linha_titulo_07 a, #siop_box_suporte_linha_titulo_08 a {
	color: #003366;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 46px;
    margin-left: 21px;
    margin-top: 23px;
    text-decoration: none;
}

#siop_box_suporte_linha_titulo_01 a:hover, #siop_box_suporte_linha_titulo_02 a:hover, 
#siop_box_suporte_linha_titulo_03 a:hover, #siop_box_suporte_linha_titulo_04 a:hover, 
#siop_box_suporte_linha_titulo_05 a:hover, #siop_box_suporte_linha_titulo_06 a:hover, 
#siop_box_suporte_linha_titulo_07 a:hover, #siop_box_suporte_linha_titulo_08 a.hover {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 46px;
    margin-left: 21px;
    margin-top: 23px;
    text-decoration: none;
	color: #666;
}

/*###################################################################
##                                                                 ##
## #siop_box_suporte, #siop_box_noticias, #siop_box_relatorios -   ##
## Formatação das caixas (box) das áreas de conteúdo (Suporte,     ##
## Notícias e Relatórios)                                          ##
##                                                                 ##
###################################################################*/

#siop_box_relatorios{
	/* border: 1px solid #D2F7F9; */
	padding: 10px 10px 10px 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	clear: both;
}

#siop_box_noticias{
	/* border: 1px solid #D2F7F9; */
	padding: 10px 10px 10px 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	clear: both;
}
#siop_box_suporte{
	 background-color: #EDEDED;
	padding: 20px 20px 20px 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
	height: 583px;
	width: 449px;
	
}

/*###################################################################
##                                                                 ##
## #siop_box_noticias_01, #siop_box_noticias_02 - Formatação da    ##
## estrutura da primeira e segunda notícias                        ##
##                                                                 ##
###################################################################*/

#siop_box_noticias_01{
	clear: both;
	margin-bottom: 25px;
}

#siop_box_noticias_02{
	border-top: 1px solid #D2F7F9;
	clear: both;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-top: 5px;
}

/*###################################################################
##                                                                 ##
## #siop_box_noticias_data_01, #siop_box_noticias_data_02,         ##
## #siop_box_noticias_data_dia_01, #siop_box_noticias_data_dia_02, ##
## #siop_box_noticias_data_mes_01, #siop_box_noticias_data_mes_02  ##
## Formatação da data das notícias                                 ##
##                                                                 ##
###################################################################*/

#siop_box_noticias_data_01, #siop_box_noticias_data_02{
	background-image: url(../../_img/TelaInicial/icone_calendario_02.png);
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

#siop_box_noticias_data_dia_01, #siop_box_noticias_data_dia_02{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
}

#siop_box_noticias_data_mes_01, #siop_box_noticias_data_mes_02{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	padding-top: 8px;
	color: #FFF;
}

/*###################################################################
##                                                                 ##
## #siop_box_noticias_conteudo_01, #siop_box_noticias_conteudo_02  ##
## Formatação da área de contúdo textual das notícias              ##
##                                                                 ##
###################################################################*/

#siop_box_noticias_conteudo_01, #siop_box_noticias_conteudo_02{
	width: 460px;
	height: 60px;
	padding-bottom: 11px;
}

/*###################################################################
##                                                                 ##
## #siop_box_noticias_01 a, #siop_box_noticias_02 a,               ##
## #siop_box_noticias_01 a:hover, #siop_box_noticias_02 a:hover  - ##
## Formatação dos estilos dos links da área de notícias            ##
##                                                                 ##
###################################################################*/

#siop_box_noticias_01 a, #siop_box_noticias_02 a{
	color: #000;
	text-decoration: none;
}

#siop_box_noticias_01 a:hover, #siop_box_noticias_02 a:hover{
	color: #666;
}

/*###################################################################
##                                                                 ##
## #siop_box_relatorios_linha_01, #siop_box_relatorios_linha_02,   ##
## #siop_box_relatorios_linha_03, #siop_box_relatorios_linha_04,   ##
## #siop_box_relatorios_linha_05, #siop_box_relatorios_linha_06 -  ##
## Formatação das linhas dos relatórios                            ##
##                                                                 ##
###################################################################*/

#siop_box_relatorios_linha_01, #siop_box_relatorios_linha_02, #siop_box_relatorios_linha_03, #siop_box_relatorios_linha_04, #siop_box_relatorios_linha_05, #siop_box_relatorios_linha_06{
	padding: 0px;
	clear: both;
}

/*###################################################################
##                                                                 ##
## #siop_box_relatorios_linha_01 a,                                ##
## #siop_box_relatorios_linha_02 a,                                ##
## #siop_box_relatorios_linha_03 a,                                ##
## #siop_box_relatorios_linha_04 a,                                ##
## #siop_box_relatorios_linha_05 a,                                ##
## #siop_box_relatorios_linha_06 a,                                ##
## #siop_box_relatorios_linha_01 a:hover,                          ##
## #siop_box_relatorios_linha_02 a:hover,                          ##
## #siop_box_relatorios_linha_03 a:hover,                          ##
## #siop_box_relatorios_linha_04 a:hover,                          ##
## #siop_box_relatorios_linha_05 a:hover,                          ##
## #siop_box_relatorios_linha_06 a:hover                           ##
## Formatação dos estilos dos links da área de relatórios          ##
##                                                                 ##
###################################################################*/

#siop_box_relatorios_linha_01 a, #siop_box_relatorios_linha_02 a, #siop_box_relatorios_linha_03 a, #siop_box_relatorios_linha_04 a, #siop_box_relatorios_linha_05 a, #siop_box_relatorios_linha_06 a{
	color: #000;
	text-decoration: none;
}

#siop_box_relatorios_linha_01 a:hover, #siop_box_relatorios_linha_02 a:hover, #siop_box_relatorios_linha_03 a:hover, #siop_box_relatorios_linha_04 a:hover, #siop_box_relatorios_linha_05 a:hover, #siop_box_relatorios_linha_06 a:hover{
	color: #666;
}

#siop_box_relatorios_relatorio_01, #siop_box_relatorios_relatorio_03, #siop_box_relatorios_relatorio_05{
	float: left;
	width: 300px;
	margin-left: 10px;
	padding: 3px 3px 3px 3px;
}

#siop_box_relatorios_relatorio_02, #siop_box_relatorios_relatorio_04, #siop_box_relatorios_relatorio_06{
	float: left;
	width: 300px;
	margin-left: 10px;
	padding: 3px 3px 3px 3px;
	background-color: #F4FFFF;
}

#siop_box_relatorios_visualiza_01, #siop_box_relatorios_visualiza_03, #siop_box_relatorios_visualiza_05{
	text-align: right;
	padding: 3px 3px 3px 3px;
}

#siop_box_relatorios_visualiza_02, #siop_box_relatorios_visualiza_04, #siop_box_relatorios_visualiza_06{
	text-align: right;
	padding: 3px 3px 3px 3px;
	background-color: #F4FFFF;
}

.withoutBorder{
	border-bottom: 0px solid #CCCCCC !important;
    border-right: 0px solid #CCCCCC;
} 