/**************************************************************************************
**                                                                                   **
** @autor: Narmer Abouhassan                                                         **
** @brief: Formatação da barra do ambiente de trinamento                             **
** @data: 05/05/2011                                                                 **
**                                                                                   **
***************************************************************************************/

.siop_ambiente_treinamento{
	width: 100%;
	float: none;
	clear: right;
	margin: 0;
	padding: 0;
	background-color: #F00;
}

.siop_ambiente_treinamento p{
	padding: 0.5em;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	size: 10px;
	text-align: right;
	line-height: 10px;
	font-weight: bold;
}