body{
	background-color: #FFFFFF;
}

.conteudo_modal{
	background-color: #FFFFFF !important;
	width: 800px;
	height: 400px;
	padding: 10px 10px 10px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.abertura_modal_fechar{
	float: right;
	text-align: right;
	clear: both;
}

.abertura_modal_capitula{
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid #0099FF;
	color: #0099FF;
	margin-right: 22px;
}

.abertura_modal_titulo{
	font-size: 12px;
	font-weight: bold;
}

.abertura_modal_periodo{
	padding-bottom: 10px;
	font-style: italic;
	color: #666666;
}

.abertura_modal_video{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.abertura_modal_texto{
	padding-top: 5px;
	width: 100%;
	bottom: 0px;
}

.abertura_modal_texto a{
	text-decoration: underline;
	color: #333333;
}