/* Início: Editando a coluna 01 */

.abertura_coluna_01{
	float: left;
	width: 500px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Início: Editando o box da agenda */

.abertura_agenda{
	clear: both;
}

.abertura_agenda_titulo h2{
	padding-top: 5px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
}

.abertura_agenda_titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../_img/modulo-abertura/abertura_titulo_500_30.png);
	background-repeat: no-repeat;
	height: 30px;
	clear: both;
}

.abertura_agenda_conteudo_linha_01{
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}

.abertura_agenda_conteudo_bl_01_data{
	float: left;
	background-image: url(../_img/modulo-abertura/icone_calendario_02.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.abertura_agenda_conteudo_data_dia_01{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.abertura_agenda_conteudo_data_mes_01{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.abertura_agenda_conteudo_bl_01_noticia{
	float: right;
	width: 440px;
	text-align: left;
}

.abertura_agenda_conteudo_noticia_titulo_01{
	clear: both;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.abertura_agenda_conteudo_noticia_texto_01{
	clear: both;
	padding: 5px 5px 5px 5px;
}

.abertura_agenda_conteudo_noticia_link_01{
	clear: both;
	padding: 5px 5px 5px 5px;
}

/* Fim: Editando o box da agenda */

.abertura_botao{
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* Início: Editando o box de avisos */

.abertura_avisos{
	clear: both;
}

.abertura_aviso_titulo h2{
	padding-top: 5px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
}

.abertura_aviso_titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../_img/modulo-abertura/abertura_titulo_500_30.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 30px;
	clear: both;
}

.abertura_aviso_conteudo_linha_01{
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	border:medium none;
}

.abertura_aviso_conteudo_bl_01_data{
	float: left;
	background-image: url(../_img/modulo-abertura/icone_calendario.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.abertura_noticia_conteudo_bl_01_data{
	float: left;
	background-image: url(../_img/modulo-abertura/icone_calendario_02.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.abertura_aviso_conteudo_data_dia_01{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 7px;
	padding-bottom: 10px;
}

.abertura_aviso_conteudo_data_mes_01{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
.abertura_aviso_conteudo_data_mes_01 .iceOutTxt{
	padding: 1px;
}

.abertura_aviso_conteudo_bl_01_noticia{
	float: right;
	width: 410px;
	text-align: left;
}

.abertura_aviso_conteudo_noticia_titulo_01{
	clear: both;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.abertura_aviso_conteudo_noticia_texto_01{
	clear: both;
	padding: 5px 5px 5px 5px;
}

.abertura_aviso_conteudo_noticia_link_01{
	clear: both;
	padding: 5px 5px 5px 5px;
}

.abertura_aviso_conteudo_linha_02{
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}

.abertura_aviso_conteudo_bl_02_data{
	float: left;
	background-image: url(../_img/modulo-abertura/icone_calendario.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.abertura_aviso_conteudo_data_dia_02{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.abertura_aviso_conteudo_data_mes_02{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.abertura_aviso_conteudo_bl_02_noticia{
	float: right;
	width: 410px;
	text-align: left;
}

.abertura_aviso_conteudo_noticia_titulo_02{
	clear: both;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.abertura_aviso_conteudo_noticia_texto_02{
	clear: both;
	padding: 5px 5px 5px 5px;
}

.abertura_aviso_conteudo_noticia_link_02{
	clear: both;
	padding: 5px 5px 5px 5px;
}

.abertura_pagina_avisos{
	clear: both;
	font-weight: bold;
}

.abertura_pagina_avisos_esq{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.abertura_pagina_avisos_dir{
	float: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Início: Editando o box de avisos */

/* Fim: Editando a coluna 01 */

/* Início: Editando a coluna 02 */

.abertura_coluna_02{
	float: right;
	width: 420px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.abertura_video_titulo h2{
	padding-top: 5px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.abertura_video_titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../_img/modulo-abertura/abertura_titulo_420_30.png);
	background-repeat: no-repeat;
	height: 30px;
	clear: both;
}

.abertura_video_subtitulo_01{
	clear: both;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.abertura_video_player_01{
	clear: both;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.abertura_video_sobre_01{
	clear: both;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

.abertura_video_descricao_01{
	clear: both;
	font-size: 11px;
	padding: 5px 5px 5px 5px;
	line-height: 18px;
}

.abertura_video_link_01{
	clear: both;
	padding: 5px 5px 5px 5px;
	text-align:left;
}

.abertura_video{
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* Fim: Editando a coluna 02 */

/* Início: Editando página da agenda */

.abertura_mais_agenda{
	clear: both;
}

.abertura_mais_agenda_titulo h2{
	padding-top: 5px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
}

.abertura_mais_agenda_titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../_img/modulo-abertura/abertura_titulo_990_30.png);
	background-repeat: no-repeat;
	height: 30px;
	clear: both;
}

/* Fim: Editando página da agenda */

.tab.Inicio.table{
	padding-top: 10px;
	padding-bottom: 10px;
}

.tab.Inicio.th{
	padding: 5px 5px 5px 5px;
	background-color: #000000;
	color: #FFFFFF;
	font: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tab.Inicio.td{
	padding: 5px 5px 5px 5px;
	font: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.abertura_tabela_sublinha{
	background-color: #D5E6FF;
}

.abertura_mais_agenda_rodape{
	clear: both;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.abertura_mais_agenda_rodape_esq{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 450px;
}

.abertura_mais_agenda_rodape_centro{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
}

.abertura_mais_agenda_rodape_dir{
	float: right;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	text-align: right;
}

.abertura_modal_coluna_01{
	float: left;
	padding-top: 10px;
}

.abertura_modal_coluna_02{
	float: right;
	padding-top: 10px;
	width: 720px;
	height: auto;
}
.abertura_modal_coluna_03{
	float: right;
	padding-top: 10px;
	width: 420px;
	height: auto;
}
.abertura_modal_coluna_04{
	float: right;
	padding-top: 10px;
	width: 220px;
	height: auto;
	text-align: right;
	vertical-align: top;
	margin-top: -80px;
	position: absolute;
	
	
}
.inicial{
	margin-top: 20px
}
.conteudo_modal.icePnlPop .icePnlPopBody {
	background-color:#FFFFFF;
	border:medium none;
}
.conteudo{
	background-color:#FFFFFF;
	border:medium none;
}


.siop_box_noticias_data_01_avisos {
	float: left;
	background-image: url(../_img/modulo-abertura/icone_calendario.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.siop_box_noticias_data_01_noticias {
	float: left;
	background-image: url(../_img/modulo-abertura/icone_calendario_02.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

