/****************************************************************************************
**                                                                                     **
** @autor: Narmer Abouhassan                                                           **
** @brief: Formatação da estrutura geral da página                                     **
** @data: 29/03/2011                                                                   **
** @revisao: 26/09/2011 - Tiago Ianuck - Inclusão da Barra de Acessibilidade           **
**                                                                                     **
*****************************************************************************************/

/***************************************************************************************
** Arquivos CSS que possuem natureza própria devendo ser importados                   **
****************************************************************************************/
	
	/* Definições da barra do governo */
	@import url("_estilo_barra_governo.css");
	
	/* Definições do cabeçalho */
	@import url("_estilo_cabecalho.css");
	
	/* Definições da barra de acessibilidade */
	@import url("_estilo_barra_acessibilidade.css");
	
	/* Definições do BreadCrumer e SIOP Legis */
	@import url("_estilo_breadcrumb.css");
	
	/* Definições para o Menu Principal */
	@import url("_estilo_menu_principal.css");
	
	/* Definições do Miolo */
	@import url("_estilo_miolo.css");
	
	/* Definições dos avisos */
	@import url("_estilo_avisos.css?v=2.0");
	
	/* Definições para o rodape */
	@import url("_estilo_rodape.css");
	
	/* Definições para a versão */
	@import url("_estilo_versao.css");
	
	/* Definições para a o Painel Gerencial */
	@import url("_estilo_painel_gerencial_mapa_brasil.css");
	
	/* Definições para a Arvore do Qualitativo */
	@import url("_estilo_arvore_qualitativo.css");
	
	/* Definições layout do Monitoramento e Avaliacao */
	@import url("_estilo_monitoramento.css?v=2.0");	

	/* Definições layout da Janela popup*/
	@import url("_estilo_popup.css");	
	
	/* Definições layout da tela pesquisa no Monitoramento*/
	@import url("_estilo_pesquisa.css");
	
/***************************************************************************************
** Formantando a estrutura                                                            **
****************************************************************************************/

/* Definição dos padrões de tipo e tamanho da fonte, e cor de fundo da página */
	html{
		font-family: Verdana, Geneva, sans-serif;
		font-size: 11px;
	}

/* Definição do corpo da página */
	body{
		margin: 0px auto;
		padding: 0px;
	}
	
/* Definição do fundo da página */
	.siop_geral{
		/**width: 1000px; **/
		width: 100%;
		margin: 0px auto;
		padding: 0px;
		background-color: #FFF;
		border-top: 1px solid white;
	}
	
	.row.miolo #iframe {
		width: 100% !important;;
	}
	
	.siop_menu_principal_lista {
        box-sizing: border-box;
	    width: 100% !important;
	}
	
	.siop_breadcrumb {
	    box-sizing: border-box;
		width: 100% !important;
	}

/* Definição da área de acessibilidade */
	.siop_acessibilidade{
		clear: both;
		text-align: center;
	}

/* Definição da âncora de conteúdo */
	.siop_ancora_conteudo{
		display: none;
	}

/* Definição da âncora de menu */
	.siop_ancora_menu{
		display: none;
	}

/* Definição da estrutura de conteúdo */
	.siop_miolo{
		clear: both;
		min-height: 360px;
	}

/* Hack para o Internet Explorer */
	html>body .siop_miolo {
		height: auto;
	}

	#mask {
		position:absolute;
		z-index:9000;
		background-color:transparent;
		display:none;
		top: 0px;
	}
	
	.popover {
	 	position: absolute; 
	 	width: auto; 
	 	height: 0px; 
	 	z-index: 9999; 
	 	display: none;
	}
	
	.text_overflow_ellipsis{
		white-space: nowrap; 
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
/* Definição para fundo de bloqueio da tela para operação em background */
#waitingBackgroundOperation {
	z-index: 25000;
	opacity: 0.5;
	position: absolute; 
	border-width: 0px;
	top: 0px; 
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #f0eded;
}
