@CHARSET "ISO-8859-1";

.panelGridFiltroCol1 {
    position:relative;
    vertical-align:text-top;
    top: 0px;
    left:0px;
    max-width: 35%;
    width: 35%;
    padding: 5px;
 }

.panelGridFiltroCol2 {
    position:relative;
    vertical-align:text-top;
    top: 0px;
    right:0px;
    max-width: 65%;
    width: 65%;
    padding: 5px;
 }

.popupVerificacaoPedidoAlteracao {
    position: fixed !important; 
    top: 50px !important;
    width: 700px;
}

.popupResultadoOperacaoBody {
    padding:0px;
    background: #FFFFFF;
    width: 700px;
}

.bordaTracejadaCreditos, .RelatoriosCreditos .CaixaOpcoes {
    border-color: #909090;
    border-width: 1px;
    border-style: dashed;
    padding: 4px;
}

.RelatoriosCreditos .CaixaOpcoes {
    margin: 10px 0px 10px 3px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

.RelatoriosCreditos .CaixaOpcoes input[type=checkbox] {
	margin-top: 0px;
	margin-bottom: 0px;
}

.bordaTracejadaCreditosPedidosConsolidacao{

    border-color:#909090;
    border-width:1px;
    border-style:dashed;
    padding:8px;
    width:90%;
}

.dadosfinanceiro, .dadosReceitaDest{float:left;width:450px;}
.dadosfisicos, .dadosDespesaDest{float:right;width:400px;margin-right:5px;}

.panelGridEditarCol1 { width: 85px; }
.panelGridEditarCol2 { width: 80px; }
.panelGridEditarCol3 { width: 70px; text-align: right; }
.panelGridEditarCol4 { width: 172px; }
.panelGridEditarCol5 { width: 110px; }
.panelGridEditarCol6 { width: 280px; }
.panelGridEditarCol7 { width: 85px; text-align: right; }
.panelGridEditarCol8 { width: 40px; }

.panelGrid2EditarCol1 { width: 85px; }
.panelGrid2EditarCol2 { width: 330px; }
.panelGrid2EditarCol3 { width: 110px; }
.panelGrid2EditarCol4 { width: 410px; }

.panelGrid3EditarCol1 { width: 418px; }

.panelGrid4EditarCol1 { width: 85px; }
.panelGrid4EditarCol2 { width: 850px; }

.panelGrid5EditarCol1 { width: 85px; }
.panelGrid5EditarCol2 { width: 329px; }
.panelGrid5EditarCol3 { width: 110px; }
.panelGrid5EditarCol4 { width: 220px; }
.panelGrid5EditarCol5 { width: 125px; text-align: right; }
.panelGrid5EditarCol6 { width: 60px; }

.panelGridInfoLocalizadorValor { margin-right: 10px; }

.panelGridInfoLocalizadorCol1{
    width: 175px;
}

.panelGridInfoLocalizadorCol2 {
    width: 131px;
    text-align: right;
}

.panelGridInfoLocalizadorCol3 {
    width: 210px;
    text-align: left;
}

.panelGridInfoLocalizadorCol4 {
    width: 363px;
    text-align: left;
}

.panelGridInfoLocalizadorCol5{
    width: 75px;
}

.panelGridInfoLocalizadorCol6{
    width: 331px;
}

.panelGridConsolidacaoCol1 {
    width: 115px;
}

.panelGridConsolidacaoCol2{
    width: 270px;
}

.panelGridConsolidacaoCol3{
    width: 150px;
}

.panelGridConsolidacaoCol4{
    width: 400px;
}

.panelGridConsolidacaoColUosEnvolvidas {
    width: 820px;
}

.panelGridInstrumentoLegalCol1 {
    width: 165px;
    padding-top: 5px;
    vertical-align: top;    
}

.panelGridInstrumentoLegalCol2{
    width: 250px;
}

.panelGridInstrumentoLegalCol3{
    width: 720px;
}

.panelGridBuscaCol1 {
    width: 165px;
}

.panelGridBuscaCol2 {
    width: 250px;
}

.panelGridBuscaCol3 {
    width: 180px;
}

.panelGridBuscaCol4 {
    width: 350px;
}

.panelGridBuscaCol5 {
    width: 690px;
}

.panelGridBuscaCol6 {
    width: 70px;
}

.panelGridBuscaCol7 {
    width: 280px;
}

/*
----------- Table Row Selection --------
*/
.localizadorSelSelected {
    background-color: #316AC5;
}
.localizadorSelSelected span {
    color: #FFFFFF;
}

.localizadorSelSelectedMouseOver {
    background-color: #0D4092;
}

.localizadorSelSelectedMouseOver span {
    color: #FFFFFF;
}

.localizadorSelMouseOver {
    background-color: #B2CDF9;
}

.localizadorSelMouseOver span{
    color: #000000;
}

.labelRelatorioCreditos {
    width:150px;
}
.labelRelatorioImpedimentos {
    width:90px;
}

.labelRelatorioCreditosSegundaColuna {
    width:140px;
}
.fieldRelatorioCreditos {
    width:460px;
}
.fieldRelatorioCreditosSelect {
    width:280px;
}
.fieldRelatorioImpedimentosSelect {
    width:490px;
}
.fieldRelatorioCreditosCheckBoxLabel {
    width:280px;
}

.fieldRelatorioImpedimentosCheckBoxLabel {
    width:90px;
}


.selOneCreditos {
	width: 270px;
}

.panelGridDetalhamentoDest{
    vertical-align: top;
    width: 50%;
}

.tbListagemPedidos {
    min-width:93%;
}

.inputFileCreditos {
    
}

.inputFileCreditosBtn{
    
}

.inputFileCreditosTxt{
    max-width: 350px;
}

.panelGridConsultaLocalizadoresCredito {
    vertical-align: top;
}

.menuTabelaConsultaLocalizadores {
    width: 21px;
    float: none;
}

.menuTabelaConsultaLocalizadoresItem {
  text-align: left;
  float: none;  
}

.menuTabelaConsultaLocalizadoresItem .iceMnuBarItem {
    text-align: left;
    float: none;    
}

.menuTabelaConsultaLocalizadores .iceMnuBar {
    float: none;
}

.menuTabelaConsultaLocalizadores .iceMnuBarItem {
    text-align: left;
    float: none;        
}

.menuTabelaConsultaLocalizadoresItem a {
  float: none;
  padding: 1px 1px 1px 1px;
}

.menuTabelaConsultaLocalizadoresItem a.iceLink {
  float: none;
}

.menuTabelaConsultaLocalizadoresItem a:hover {
  border-color: #CCCCCC;
  background: #FFFFFF;
}

.menuTabelaConsultaLocalizadoresItem a:hover.iceLink {
  border-color: #CCCCCC;
}

.menuTabelaConsultaLocalizadoresItemImage {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.menuTabelaConsultaLocalizadores .iceMnuBarSubMenu {
  background: #F0E5E4;
  width: 200px;
  padding: 2px; 
}

.menuTabelaConsultaLocalizadoresSubMenu {
  background: #F0E5E4;
  width: 200px;
  padding: 2px;
}

.menuTabelaConsultaLocalizadores .iceMnuItm a {
  padding: 2px;
  text-align: left;
}

.menuTabelaConsultaLocalizadores .iceMnuItmLabel {
  margin-left: 5px;
  text-align: left;
}

.menuTabelaConsultaLocalizadores .iceMnuItmImage {
  width: 1px;
  height: 1px;
}

.menuTabelaFinanceiroPedidoVrt .iceMnuBarVrt{
    float: left;
    padding: 1px;
}

.menuTabelaFinanceiroPedido .iceMnuBarSubMenu {
  width: 200px;
  padding: 2px; 
}

.menuTabelaFinanceiroPedido .iceMnuItm a {
  padding: 2px;
  text-align: left;
}

.menuTabelaFinanceiroPedido .iceMnuItmImage {
    height: 1px;
    width: 1px;
}

.menuTabelaFinanceiroPedidoItem {
    height: 22px;
    padding: 1px;
}

.menuTabelaFinanceiroPedidoItemImage {
    width: 16px;
    height: 20px;
    margin-left: 3px;
    padding: 1px;
    vertical-align: top;    
}

.menuTabelaFinanceiroPedidoItem a {
  float: none;
  padding: 1px 1px 1px 1px;
}

.menuTabelaFinanceiroPedidoItem a.iceLink {
  float: none;
}

.menuTabelaFinanceiroPedidoItem a:hover.iceLink {
  border-color: #CCCCCC;
}

.menuTabelaFinanceiroPedidoItemLabel, .default .iceDatTbl td span.iceOutTxt.menuTabelaFinanceiroPedidoItemLabel{
    padding: 2px;
    height: 10px;
    display: inline;
}

.menuTabelaFinanceiroPedido .iceMnuItm {
    height: 20px;
}

.menuTabelaFinanceiroPedidoVrtItem {
    display: block;
    width: 15px;
}

.menuTabelaFinanceiroPedidoVrt .iceMnuItmImage {
    height: 1px;
    width: 1px;
}

.menuTabelaFinanceiroPedidoVrtItem a {
    width: 15px;
    height: 20px;
    margin-left: 5px;
}

.menuTabelaFinanceiroPedidoVrt .iceMnuBarVrtSubMenu {
    margin-left: 10px;
}

.menuTabelaFinanceiroPedidoVrtSubMenu {
    margin-left: 10px;
}

.botaoExportarExcel img { 
    width: 20px; 
    height: 20px;
}

.EdicaoPedidoAlteracao .janelaMensagem, .EdicaoGrupoPedidoAlteracao .janelaMensagem {
    position: fixed !important; 
    top: 50px !important;
}

.PedidoAlteracaoImportarPlanilha .barraProgresso { margin: 10px; }
.PedidoAlteracaoImportarPlanilha .barraProgressoBg { display: block; width: 580px; }

.popupSelecaoFormalizacoes, .popupArquivoCN { 
    position: fixed !important; 
    top: 50px !important;
}

.popupConfirmacaoChancela {
    position: fixed !important; 
    top: 200px !important;
}

/** Popup de seleção de formalizações **/
.popupSelecaoFormalizacoes .label { width: 400px !important; }
.popupSelecaoFormalizacoes .selListaItens { width: 390px; height: 180px; }

fieldset.selConsolidacaoAgregadora { width: 200px; }
.selChancelasGrupoPedidoAlteracao input[type="checkbox"], .selChancelasGrupoPedidoAlteracao-dis input[type="checkbox"] {
    vertical-align: text-bottom; 
}
.selChancelasGrupoPedidoAlteracao label, .selChancelasGrupoPedidoAlteracao-dis label {
    margin-right: 5px; 
}

.panelGridCadastroAcompanhamento1, .panelGridCadastroLink1 { width: 120px; text-align: left; }
.panelGridCadastroAcompanhamento2, .panelGridCadastroLink2 { text-align: left; }
.panelGridCadastroAcompanhamento tr:nth-child(2) td { vertical-align: top; }
.AbaAcompanhamentoCreditos .linkGrid { text-decoration: none; }
.AbaAcompanhamentoCreditos .NomeAnexo { font-size: 100%; color: #2a5685; text-decoration: none; }
.AbaAcompanhamentoCreditos a:hover.linkGrid, .AbaAcompanhamentoCreditos a:hover.linkGridAnexo { text-decoration: underline; }

.popupCadastroAcompanhamento {
    position: fixed !important; 
    top: 150px !important;
}

.pnlGrdOpcoesTipoAlteracao { width: 315px; }

.popupSaldosInvertidos, .popupCopiaPedidoAlteracao, .popupInformacoesLocalizador, .popupInformacoesDotacao {
    position: fixed !important; 
    top: 100px !important;
}

.popupSaldosInvertidos .colunaValor {
    white-space: nowrap;
    text-align: right;
}

.popupSaldosInvertidos .Inversao {
    background-color: red;
}

.popupConfiguracaoColunasCreditosBody {
    padding: 0px;
    border: 1px solid #9ea2ac;
}

.pnlGrdOpcoesEspelho { width: 300px; }

.popupOpcoesEspelhoPedido {
    position: fixed !important; 
    top: 10px !important;
}

.RelatoriosCreditos .SelecaoRelatorio {
	width: 100%;
	padding: 10px;
	border-bottom: 1px dashed #909090;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.RelatoriosCreditos .selRelatorio {
    margin-left: 5px;
}

.RelatoriosCreditos .FiltroPedido.labelPadraoLimites {
	display: inline-block;
	width: 160px;
}

.RelatoriosCreditos .Periodo {
	display: inline-block;
}

.RelatoriosCreditos .bordaPadraoLimites {
	border: none;
}

.RelatoriosCreditos .PainelGerarRelatorio .BotaoGerarRelatorio {
	margin-left: 5px;
	display: inline-block;
}

.RelatoriosCreditos .FiltrarPedidosDisponiveis {
	padding: 5px;
}

.RelatoriosCreditos .DualSelectManyListBox {
	overflow: auto;
	width: 455px;
	height: 135px;	
}

.RelatoriosCreditos fieldset.iceSelOneRb {
	margin-top: 5px;
}

.RelatoriosCreditos .CaixaOpcoesCheckBoxes {
	display: flex;
	justify-content: space-between;
}

.RelatoriosCreditos .Espacamento {
	margin-top: 5px;
}

.RelatoriosCreditos .PainelGerarRelatorio {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px 10px 20px;
}

.LinksAnexosPedido .PainelExpansivel .icePnlClpsblCnt { padding: 2px; }

.LinksAnexosPedido .PainelExpansivelHdr .botaoForm,
.LinksAnexosPedido .PainelExpansivelColpsd .botaoForm {
	float: right; 
	margin-right: 5px; 
	margin-top: -3px; 
	width: 100px; 
}

.LinksAnexosPedido .NomeAnexo.iceOutLnk, .LinksAnexosPedido .Link .iceOutTxt { color: #2a5685; text-decoration: none; word-break: break-all; }

